# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignora los .class de eclipse
bin/main/Vista/.*\$.*.class
bin/main/Controlador/.*\$.*.class
bin/main/Modelo/.*\$*.class
